<div class="alert alert-success form-alert" role="alert">
    This is a success alert—check it out!
</div>
<div class="alert alert-danger form-alert" role="alert">
    This is a danger alert—check it out!
</div>
<div class="alert alert-warning form-alert" role="alert">
    This is a warning alert—check it out!
</div>
<div class="alert alert-info form-alert" role="alert">
    This is a info alert—check it out!
</div>