<div>Toolbar <%= type; %></div>

<% actions[type].forEach( action => {
    if (action.type == 'button') { %>
	<button type="button" id="<%= action.id; %>" class="btn btn-success"><%= action.label; %></button>
    <% } %>
<% }) %>
