<div>Toolbar <%= type; %></div>

<div class="toolbar">
    <% actions[type].forEach( action => {
        if (action.type == 'button') { %>
        <button type="button" id="<%= action.id; %>" class="btn btn-success"><%= action.label; %></button>
        <% } %>
    <% }) %>
</div>