
<h2 class="page-header">Create Post</h2>
<form action="/posts" method="POST">
  <%- include('_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
